# Install the dependencies required by the tools by running:
#   py -m pip install -r tools/requirements.txt   (Windows)
#   sudo pip install -r tools/requirements.txt    (Linux/macOS)

lz4     >= 4.3.2
numpy   >= 1.19.4
Pillow  >= 8.2.0
pycdlib >= 1.14.0
